{% extends "base.html" %}

{% block title %}BPM Archive{% endblock %}

{% block page_title %}BPM Archive{% endblock page_title %}

{% block content %}

    <a href="{% url 'artist-home' %}">&raquo; artists</a><br/>
    <div class="row">
        <!-- main content -->
        <div class="col-sm-8">
            <div class="accordion" id="accordion-track">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion-track"
                           href="#tracks">
                            <span class="icon-music"></span> Tracks</a>
                    </div>
                    <div id="tracks" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="trackTableList" class="table-bordered">
                                        <thead>
                                        <tr>
                                            <th>title</th>
                                            <th>album</th>
                                            <th>bpm</th>
                                        </tr>

                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion-album"
                           href="#albums">
                            <span class="icon-music"></span> Albums</a>
                    </div>
                    <div id="albums" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="albumTableList" class="table-bordered">
                                        <thead>
                                            <tr>
                                                <th>name</th>
                                                <th>artist</th>
                                            </tr>

                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion-artist"
                           href="#artists">
                            <span class="icon-music"></span> Artists</a>
                    </div>
                    <div id="artists" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Artists
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- right gutter -->
        <div class="span4">
        right gutter shit.
        </div>
    </div>
{% endblock content %}
