{% extends "base.html" %}

{% block title %}Artists{% endblock %}

{% block page_title %}Artists{% endblock page_title %}

{% block content %}

    {% if list_of_artists %}

        <ul>
        {% for artist in list_of_artists %}
            <li><a href="{% url 'artist-detail' artist.id %}">{{ artist.name }}</a> | {{ artist.hometown }}</li>
        {% endfor %}
        </ul>

    {% endif %}

    <div class="accordion" id="accordion-artist">
        <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion-artist" href="#newForm">
                Add New Artist</a>
        </div>
            <div id="newForm" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form method="post" action="/artists/create/">
                        {% csrf_token %}
                        <div>
                            {{  ArtistForm }}
                            <button name="submit" id="newArtist" class="success">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
