{% extends "base.html" %}

{% block title %}Artists{% endblock %}

{% block page_title %}Artists{% endblock page_title %}

{% block content %}

    {% if list_of_artists %}

        <ul>
        {% for artist in list_of_artists %}
            <li><a href="{% url 'artist-detail' artist.id %}">{{ artist.name }}</a> | {{ artist.hometown }}</li>
        {% endfor %}
        </ul>

    {% endif %}

    <div class="accordion">
    <h1 class="accordion-heading">Add new Artist</h1>
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
    </div>

{% endblock content %}
